<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sisrest.bypsi.appsisrest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Register" />
        <activity android:name=".SplashScreenActivityExit" />
        <activity
            android:name=".MiCuenta"
            android:label="@string/title_activity_mi_cuenta"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sisrest.bypsi.appsisrest.MainActivity" />
        </activity>
        <activity
            android:name=".Comensales"
            android:label="@string/title_activity_comensales"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sisrest.bypsi.appsisrest.MainActivity" />
        </activity>
        <activity
            android:name=".NuevoComensal"
            android:label="@string/title_activity_nuevo_comensal"
            android:parentActivityName=".Comensales"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sisrest.bypsi.appsisrest.Comensales" />
        </activity>
        <activity
            android:name=".Defaults"
            android:label="@string/title_activity_defaults"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sisrest.bypsi.appsisrest.MainActivity" />
        </activity>
    </application>

</manifest>